<div class="main-wrapper">
		
  <!-- Header -->
  <app-header> </app-header>

  
  <!-- Sidebar  -->
  <app-sidebar> </app-sidebar> 
  
  <!-- Page Wrapper -->
  <div class="page-wrapper">
    <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
<div class="row">
  <div class="col">
    <h3 class="page-title">Notes App</h3>
    
  </div>
</div>
</div>
<!-- /Page Header -->

<div class="row">
<div class="col-lg-3 col-md-4">
  
  <ul class="inbox-menu">
    <li class="active">
      <a href="#"> Create notes App </a>
      <span> 3:20 PM </span>
    </li>
    <li>
      <a href="#">  Create notes App </a>
      <span> 3:20 PM </span>
    </li>
    <li>
      <a href="#"> Create notes App </a>
      <span> 3:20 PM </span>
    </li>
    <li>
      <a href="#"> Create notes App </a>
      <span> 3:20 PM </span>
    </li>
    <li>
      <a href="#"> Create notes App </a>
      <span> 3:20 PM </span>
    </li>
  </ul>
</div>

<div class="col-lg-9 col-md-8">
  <div class="card">
    <div class="card-body">
      <div class="email-header">
        <div class="row">
          <div class="actions">
            <a routerLink="/addUser" class="btn btn-sm bg-success-light mr-2">
                <i class="fe fe-pencil"></i> Edit
            </a>
            <a href="#" class="btn btn-sm bg-danger-light">
                <i class="fe fe-trash"></i> Delete
            </a>
        </div>
         
        </div>
      </div>
      <div class="email-content">
        <div class="table-responsive">
          <table class="table table-inbox table-hover">
            <thead>
              
            </thead>
            <tbody>
              <tr class="unread clickable-row" data-href="mail-view.html">
               
                
                <td class="subject">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
                <td class="mail-date">13:14</td>
              </tr>
              <tr class="unread clickable-row" data-href="mail-view.html">
               
                
                <td class="subject">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
                <td class="mail-date">13:14</td>
              </tr>
              <tr class="unread clickable-row" data-href="mail-view.html">
               
                
                <td class="subject">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
                <td class="mail-date">13:14</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>			
</div>

  <!-- /Page Wrapper -->
  <router-outlet> </router-outlet>
</div>