  <div class="email-header">
        <div class="row">
          <div class="actions">
            <a routerLink="/addUser" class="btn btn-sm bg-success-light mr-2">
                <i class="fe fe-pencil"></i> Edit
            </a>
            <a href="#" class="btn btn-sm bg-danger-light">
                <i class="fe fe-trash"></i> Delete
            </a>
        </div>
         
        </div>
      </div>
      <div class="email-content">
        <div class="table-responsive">
          <table class="table table-inbox table-hover">
            <thead>
              
            </thead>
            <tbody *ngFor="let i of notesList">
              <tr class="unread clickable-row" data-href="mail-view.html">
               
                
                <td class="subject">{{i.discription}}</td>
                <td class="mail-date">{{i.created}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>