  <div class="email-header">
        <div class="row" *ngIf="noteDetails">
          <div class="actions">
            <a routerLink="/addUser" class="btn btn-sm bg-success-light mr-2">
                <i class="fe fe-pencil"></i> Edit
            </a>
            <a (click)="deleteNote(noteDetails.id)" class="btn btn-sm bg-danger-light">
                <i class="fe fe-trash"></i> Delete
            </a>
        </div>
         
        </div>
      </div>
      <div class="email-content">
        <div class="table-responsive">
          <table class="table table-inbox table-hover">
            <thead>
                <tr>
                    <th>Note Name</th>
                    <th>Note Discription</th>
                    <th>Note Creation Date</th>
                </tr>
              
            </thead>
            <tbody>
              <tr class="unread clickable-row" data-href="mail-view.html">
                <td class="subject">{{noteDetails?.name}}</td>
                <td class="subject">{{noteDetails?.discription}}</td>
                <td class="mail-date">{{noteDetails?.created}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>